.flex-title {
  display: flex;
  justify-content: space-between;
}

.home {
  font-size: 2.2rem;
  padding: 5px;
  color: var(--bg-primary-color);
}
.main-title {
  width: 40%;
  text-align: center;
  margin: auto;
  font-size: 1.8rem;
  background-color: var(--bg-primary-color);
  color: #fff;
  padding: 0.6rem;
  border-radius: 0.6rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

.frame {
  margin-top: 0.5rem;
  border: 0.2rem solid var(--bg-primary-color);
  padding: 0.5rem;
  width: 29%;
  border-radius: 0.6rem;
  text-align: center;
}

@media (min-width: 850px) {
  .flex-container {
    flex-direction: row;
  }
}

@media (max-width: 849px) {
  .flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 8%;
    justify-content: center;
    text-align: center;
    place-items: center;
  }

  .frame {
    width: 100%;
  }
  .frame:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 0px;
  }
  .frame:nth-child(3) {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 0px;
  }
  .frame:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 2;
    margin-top:0px;
    margin-bottom: 2rem;
  }
}

.frame-data {
  font-weight: 700;
  font-size: 1.4rem;
}

.flex-medals {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
}

.medal {
  font-weight: 600;
  font-size: 1.1rem;
  width: 2.2rem;
  height: 1.9rem;
  border-radius: 50%;
  margin-top: 4px;
  padding-top: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
}
@media (max-width: 950px) {
  .medal{
    font-size: 0.9rem;
    width: 1.8rem;
    height: 1.6rem;
    padding-top: 0.2rem;
  }
}
@media (max-width: 768px) {
  .medal{
    font-size: 1.1rem;
    width: 2.2rem;
    height: 1.9rem;
    padding-top: 0.3rem;
  }
}

.gold {
  background: linear-gradient(45deg, #ffd700, #ffb14e, #ff8c00);
  border: 2px solid #ffb14e;
}
.silver {
  background: linear-gradient(45deg, #c0c0c0, #dcdcdc, #e0e0e0);
  border: 2px solid #dcdcdc;
}
.bronze {
  background: linear-gradient(45deg, #cd7f32, #b87333, #a66e39);
  border: 2px solid #b87333;
}
.total {
  background: linear-gradient(45deg, #046b83, #04838f, #04a0a3);
  font-size: 1.6rem;
  font-weight: 700;
}

.shiny-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
}

.shiny-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0)
  );
  transform: skewX(-30deg);
  opacity: 0.5;
  animation: shine 2s infinite;
  pointer-events: none;
}

@keyframes shine {
  0% {
    transform: translateX(-100%) skewX(-30deg);
  }
  100% {
    transform: translateX(100%) skewX(-30deg);
  }
}
