<div *ngIf="countryData$ | async as country; else loading">
  <div class="flex-title">
    <a class="home" routerLink="/">
      <i class="bi bi-caret-left-square-fill" alt="Back"></i>
    </a>
    <h1 class="main-title">
      {{ country.name }}
    </h1>
  </div>

  <div class="flex-container">
    <div class="frame">
      <p>Number of games</p>
      <p class="frame-data">
        {{ country.totalParticipations }}
      </p>
    </div>
    <div class="frame">
      <p>Total number of medals</p>
      <div class="flex-medals">
        <div class="gold medal shiny-text">
          {{ country.totalMedalCount[0] }}
        </div>
        <div class="silver medal shiny-text">
          {{ country.totalMedalCount[1] }}
        </div>
        <div class="bronze medal shiny-text">
          {{ country.totalMedalCount[2] }}
        </div>
        <div class="total shiny-text">
          {{
            country.totalMedalCount[0] +
              country.totalMedalCount[1] +
              country.totalMedalCount[2]
          }}
        </div>
      </div>
    </div>
    <div class="frame">
      <p>Number of athletes</p>
      <p class="frame-data">
        {{ country.totalAthleteCount }}
      </p>
    </div>
  </div>
</div>
<div class="linechart-container">
  <app-medals-line-chart
    *ngIf="lineChartData$ | async as data"
    [lineChartData]="data"
  ></app-medals-line-chart>
</div>

<ng-template #loading>
  <div class="flex-title">
    <a class="home" routerLink="/">
      <i class="bi bi-caret-left-square-fill" alt="Back"></i>
    </a>
    <h1 class="main-title">Loading data...</h1>
  </div>
</ng-template>
