.main-title {
  width:40%;
  text-align: center;
  margin:auto;
  font-size: 1.8rem;
  background-color: var(--bg-primary-color);
  color: #fff;
  padding: .6rem;
  border-radius: .6rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 2dvi;
  width:90%;
  margin:auto;
}

.frame {
  margin-top:.5rem;
  border: .2rem solid var(--bg-primary-color);
  padding: .5rem;
  width: 45%;
  border-radius: .6rem;
  text-align: center;
}

.frame-data {
  font-weight: 700;
  font-size: 1.4rem;
}

.flag-frame{
  width: 5%;
  height:40px;
  text-align: center;
}
.flag-data {
  font-size: 36px;
}

/*.fi{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 9px;
}*/
