.main-title {
  width:40%;
  text-align: center;
  margin:auto;
  font-size: 1.8rem;
  background-color: var(--bg-primary-color);
  color: #fff;
  padding: .6rem;
  border-radius: .6rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 2dvi;
  width:90%;
  margin:auto;
}

.frame {
  margin-top:.5rem;
  border: .2rem solid var(--bg-primary-color);
  width: 45%;
  border-radius: .6rem;
  text-align: center;
  line-height:normal;
}

.frame-data {
  font-weight: 700;
  font-size: 1.4rem;
  margin:0px;
  padding-bottom:10px;
}

